* {
  box-sizing: border-box;
}

body {
  background-color: #e23636;
}

.field {
  margin-top: 10px;
}

.btn {
  margin-right: 10px;
  margin-top: 10px;
}

i {
  font-size: 50px;
}

.container-fav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 40px;
}

#login_form {
  position: relative;
  top: 150px;
}

#login-title {
  position: relative;
  top: 135px;
  left: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.navbar .nav-item:last-child {
  margin-left: auto;
}

.cell-fav {
  text-align: center;
}

#welcome-gif {
  position: absolute;
  bottom: 70px;
  left: 710px;
  
}

.fav-header {
  margin-top: 0;
  font-weight: bold;
  color: white;
}

.grid h1 {
  font-weight: bold;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fav-img {
  border-radius: 50%;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e23636;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .cell {
    width: 148.5px;
    height: 198px;
    margin: auto;
    
    
  }

  .cell img {
    background-size: contain;
    border: 5px solid #e23636;
    max-height: 100%;
    background-color: #e23636;
  }

  .cell-name {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    font-weight: bold;
    color: white;
    font-size: 30px;
  }

  .cell:hover .cell-name {
    visibility: visible;
  }
  