.field {
  margin-top: 10px;
}

.btn {
  margin-right: 10px;
  margin-top: 10px;
}

i {
  font-size: 50px;
}

.container {
    box-sizing: border-box;
    height: 450px;
    width: 400px; 
    text-align: center;
    margin: auto;
    position: relative;
    top: 200px;

}

.container-fav {
  box-sizing: border-box;
  height: 450px;
  width: 400px; 
  text-align: center;
  margin: auto;
  position: relative;

}

.grid {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .cell {
    width: 148.5px;
    height: 198px;
    box-sizing: border-box;
    margin: auto;
  }

  .cell img {
    background-size: contain;
    border: 5px solid white;
    max-height: 100%;
  }

  .cell-name {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
  }

  .cell:hover .cell-name {
    visibility: visible;
  }
  
  .cell-1 {
    background-color: red;
  }
  
  .cell-2 {
    background-color: blue;
  }
  
  .cell-3 {
    background-color: green;
  }
  
  .cell-4 {
    background-color: yellow;
  }
  
  .cell-5 {
    background-color: orange;
  }
  
  .cell-6 {
    background-color: purple;
  }
  
  .cell-7 {
    background-color: pink;
  }
  
  .cell-8 {
    background-color: brown;
  }
  
  .cell-9 {
    background-color: gray;
  }