<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Encyclopedia</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://kit.fontawesome.com/eb3eebed79.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">{{ message }}
    </div>
    {% endfor %}
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>