{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Favorite's Page</h1>
    <a href="/users/{{user.id}}" class="btn btn-secondary btn-block">Go Back</a>
    <a href="/superheros" class="btn btn-secondary btn-block">Encyclopedia</a>
    <div class="container-fav">
        {% for hero in fav_heros %}
          <div class="cell-fav">
            <h3 class="fav-header">{{ hero.name }}</h3>
            <a href="/superheros/{{hero.id}}">
            <img src="{{ hero.image }}" alt="{{ hero.name }}" height="150" width="150" class="fav-img">
            </a>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}