{% extends 'base.html' %}
{% block content %}
<a href="/superheros" class="btn btn-secondary btn-block">Go back</a>
<div class="container">
    <img src="{{superhero.image}}" alt="superhero image" width="300" height="350">
    <p>Name is {{superhero.name}}</p>
    <p>aliases are:</p>
    {% for name in superhero.aliases %}
        <li>{{name}}</li>
    {% endfor %}
    <p>Place of birth: {{superhero.birth_place}}</p>
    <p>First Appearance: {{superhero.first_appear}}</p>
    <p>Occupation: {{superhero.job}}</p>
</div>
{% endblock %}