{% extends 'base.html' %}
{% block content %}
<div>
    <a href="/logout" class="btn btn-secondary btn-block">Logout</a>
    <a href="/users/{{user.id}}" class="btn btn-secondary btn-block">User Profile</a>
    <a href="/users/favorites" class="btn btn-secondary btn-block">See Favorites</a>
    <div class="grid">
        <h1>Superhero Encyclopedia</h1>
        <div class="row">
          <div class="cell">
            <a href="/superheros/{{489}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/326.jpg" alt="Nick Fury"></a>
            <span class="cell-name">Nick Fury</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{30}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/857.jpg" alt="Ant Man"></a>
            <span class="cell-name">Ant Man</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{303}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/10017.jpg" alt="Groot"></a>
            <span class="cell-name">Groot</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{251}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/56.jpg" alt="Falcon"></a>
            <span class="cell-name">Falcon</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{527}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/113.jpg" alt="Professor X"></a>
            <span class="cell-name">Professor X</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{313}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/73.jpg" alt="Hawkeye"></a>
            <span class="cell-name">Hawkeye</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{107}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/248.jpg" alt="Black Widow"></a>
            <span class="cell-name">Black Widow</span>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <a href="/superheros/{{332}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/83.jpg" alt="Hulk"></a>
            <span class="cell-name">Hulk</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{579}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/444.jpg" alt="Scarlet Witch"></a>
            <span class="cell-name">Scarlet Witch</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{333}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/362.jpg" alt="Human Torch"></a>
            <span class="cell-name">Human Torch</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{346}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/85.jpg" alt="Iron Man"></a>
            <span class="cell-name">Iron Man</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{149}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/274.jpg" alt="Captain America"></a>
            <span class="cell-name">Captain America</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{213}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/835.jpg" alt="Deadpool"></a>
            <span class="cell-name">Deadpool</span>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <a href="/superheros/{{226}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/55.jpg" alt="Doctor Strange"></a>
            <span class="cell-name">Doctor Strange</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{470}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/415.jpg" alt="Moonknight"></a>
            <span class="cell-name">Moonknight</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{717}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/161.jpg" alt="Wolverine"></a>
            <span class="cell-name">Wolverine</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{620}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/133.jpg" alt="Spiderman"></a>
            <span class="cell-name">Spiderman</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{659}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/140.jpg" alt="Thor"></a>
            <span class="cell-name">Thor</span>
          </div>
        </div>
    </div>
</div>
{% endblock %}