{% extends 'base.html' %}
{% block content %}
<div>
    <a href="/logout" class="btn btn-secondary btn-block">Logout</a>
    <a href="/users/{{user.id}}" class="btn btn-secondary btn-block">User Profile</a>
    
    <div class="grid">
        <h1>Superhero Encyclopedia</h1>
        <div class="row">
          <div class="cell">
            <a href="/superheros/{{489}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/326.jpg" alt="Nick Fury"></a>
            <span class="cell-name">Nick Fury</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{30}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/857.jpg" alt="Ant Man"></a>
            <span class="cell-name">Ant Man</span>
          </div>
          <div class="cell">
            <a href="/superheros/{{303}}"><img src="https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/10017.jpg" alt="Groot"></a>
            <span class="cell-name">Groot</span>
          </div>
        </div>
        <div class="row">
          <div class="cell cell-4"></div>
          <div class="cell cell-5"></div>
          <div class="cell cell-6"></div>
        </div>
        <div class="row">
          <div class="cell cell-7"></div>
          <div class="cell cell-8"></div>
          <div class="cell cell-9"></div>
        </div>
    </div>
</div>
{% endblock %}