{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Welcome to the Superhero Encyclopedia</h1>
        <form method="POST" id="user_form">
            {{ form.hidden_tag()}}

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control field")}}
            {% endfor %}

            <button class="btn btn-primary btn-block">Log in</button>
            <a href="/signup" class="btn btn-secondary btn-block">Sign up</a>
        </form>
    </div>
{% endblock %}