{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3 id="login-title" class="display-5">Welcome to the Superhero Encyclopedia</h1>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="col-6">
                <form method="POST" id="login_form" class="border rounded p-3 mt-5 bg-light text-dark">
                    {{ form.hidden_tag()}}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                        <div class="form-group m-2">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            <label>{{field.label.text}}</label>
                            {{ field(class="form-control")}}
                        </div>
                    {% endfor %}
    
                    <button class="btn btn-primary btn-block">Log in</button>
                    <a href="/signup" class="btn btn-secondary btn-block">Sign up</a>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <iframe id="welcome-gif" src="https://giphy.com/embed/9tZc9Mzo9K0yOYx38U" width="480" height="201" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
