{% extends 'base.html' %}
{% block content %}
<div>
    <a href="/superheros" class="btn btn-secondary btn-block">Go Back</a>
    <div class="container">
        
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <h1 class="display-3">My Profile</h1>
                <div class="card">
                    <img src="{{user.image_url}}" alt="Profile Image" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Username: {{user.username}}</p>
                        <p class="card-text">Email: {{user.email}}</p>
                        <p class="card-text">Date Created: {{user.timestamp.strftime('%d %B %Y')}}</p>
                        <p class="card-text">Location: {{user.location}}</p>
                        <p class="card-text">Bio: {{user.bio}}</p>
                        <a href="/users/edit" class="btn btn-dark btn-block">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a href="/users/favorites" class="btn btn-secondary btn-block">See Favorites</a>
</div>
{% endblock %}