{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="col-6">
                <h1 class="display-3 text-white">Registration</h1>
                <form method="POST" id="user_form" class="border rounded p-3 mt-5 bg-light text-dark">
                    {{ form.hidden_tag()}}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                        <div class="form-group m-2">
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            <label>{{field.label.text}}</label>
                            {{ field(class="form-control")}}
                        </div>
                    {% endfor %}
    
                    <button class="btn btn-primary btn-block">Register</button>
                    <a href="/" class="btn btn-danger btn-block">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
