{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Registration</h1>
        <form method="POST" id="user_form">
            {{ form.hidden_tag()}}

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control")}}
            {% endfor %}

            <button class="btn btn-primary btn-block">Register</button>
            <a href="/" class="btn btn-danger btn-block">Cancel</a>
        </form>
        
    </div>
{% endblock %}